{
    "linters": {
        "*.less": [
            "prettier --write",
            "stylelint --fix --config ./.stylelintrc",
            "git add"
        ],
        "*.ts": [
            "prettier --write",
            "eslint --fix --config ./.eslintrc.js",
            "git add"
        ]
    }
}
